In [3]:
import pandas as pd
import numpy as np

In [4]:
class_df = pd.read_csv(r'C:\Users\skous2\Box\Teaching\Winter 2024\IS 505\IS 505 Class Data.csv')
cleaned_class_df = pd.DataFrame(columns = ['favColor', 'sleepHours', 'toothbrush', 'waterCups',
                                            'phoneType', 'steps', 'languages', 'countries',
                                            'music', 'season', 'socialMedia', 'books', 'siblings',
                                            'instruments', 'mornOrNight', 'pets', 'eatOut'])

In [5]:
# What type of phone do you use?
phones = class_df.iloc[:,5]
phones = phones.str.capitalize()
cleaned_class_df['phoneType'] = phones
#cleaned_class_df['phoneType']

In [6]:
countries_visited = class_df.iloc[:,8]
countries_visited = countries_visited.replace(np.nan,'0')
countries_visited = countries_visited.replace('two','2')
countries_visited = countries_visited.replace('Three','3')
countries_visited = pd.to_numeric(countries_visited)
cleaned_class_df['countries'] = countries_visited

In [7]:
books = class_df['How many books do you read per year?']

books = books.str.strip('>')
books = books.fillna(0)
cleaned_class_df['books'] = [int(float(book)) for book in books]

In [8]:
cleaned = class_df['What is the color of your toothbrush'].str.title().str.split().str.get(0)
cleaned_class_df['toothbrush'] = cleaned

In [9]:
stepswalked = class_df.iloc[:,6]
stepswalked = stepswalked.str.lower().replace('idk','NaN')
stepswalked = stepswalked.str.replace(',','').replace('not really sure','NaN').replace(np.nan,'NaN')
cleaned_class_df['steps'] = [np.nan if steps == 'NaN' else int(steps) for steps in stepswalked]
#cleaned_class_df['steps']

In [10]:

new=class_df['How many hours of sleep do you get on average per night?'].dropna()
avg = new.mean()
new1 = class_df.iloc[:,2].replace(np.nan,avg)
cleaned_class_df['sleepHours'] = new1

In [11]:
social_media = class_df.iloc[:,-7]
social_media= social_media.str.replace('2-Jan','2')
social_media = social_media.astype(float)
cleaned_class_df['socialMedia'] = social_media

In [12]:
eat = class_df['How many times per week do you eat out?']
eat1 = []
eat2 = []
eat3 = []
for value in eat:
    if value.isnumeric():
        eat1.append(int(value))
    else:
        eat1.append(value)
        eat2.append(value)

eat1
eat2

for value in eat1:
    if value == "2-Jan":
        eat3.append(2)
    elif value == "0-2":
        eat3.append(1)
    elif value == '0.25':
        eat3.append(1)
    elif value == '2.5':
        eat3.append(3)
    else:
        eat3.append(value)

eat = pd.Series(eat3)
cleaned_class_df['eatOut'] = eat

In [13]:
df = class_df['What is your favorite genre of music?']

df = pd.Series([str(i)[str(i).find('(') + 1:str(i).find(')')] 
                if str(i).find('(') > 0 else i for i in df])
df = df.str.capitalize().str.strip()
df = df.fillna('No preference')
cleaned_class_df['music'] = df

In [14]:
season = class_df.iloc[:,-8]
season = season.str.lower()
season = season.str.strip()

for s, sea in enumerate(season):
    if sea == "autumn" or sea == 'nfl season':
        season[s] = "fall"

season_dict = season.value_counts().to_dict()
print(season_dict)
cleaned_class_df['season'] = season

{'fall': 21, 'summer': 21, 'spring': 12, 'winter': 3}

In [15]:
colors = class_df.iloc[:,1].str.lower().fillna('none')

cleaned_class_df['favColor'] = [col if col.find('blue') < 0 else 'blue' for col in colors]
#[col if col.find('blue') < 0 else 'blue' for col in colors]

In [16]:
cleaned_class_df['waterCups'] = class_df.iloc[:,4]

In [17]:
cleaned_class_df['languages'] = [int(num) for num in class_df.iloc[:, 7].str.replace('one','1').str.replace('Two','2').str.strip('<').str[0]]

In [18]:
cleaned_class_df['siblings'] = [int(sib) for sib in class_df.iloc[:,-5].fillna(0)]

In [19]:
cleaned_class_df['instruments'] = [int(inst) for inst in class_df.iloc[:,-4].fillna(0)]

In [20]:
time = []
for a in class_df.iloc[:,-3].str.lower().str.replace('morgnin', 'morning'):
    if a.find('night') >= 0:
        time.append('night')
    elif a.find('morning') >= 0:
        time.append('morning')
    else:
        time.append('both')
cleaned_class_df['mornOrNight'] = time

In [21]:
cleaned_class_df['pets'] = [int(pet) for pet in class_df.iloc[:,-2].fillna('0').str.replace('fish', '1').str.replace('zero','0')]

In [22]:
cleaned_class_df.head()

,favColor,sleepHours,toothbrush,waterCups,phoneType,steps,languages,countries,music,season,socialMedia,books,siblings,instruments,mornOrNight,pets,eatOut
0,white,5.0,Purple,8,Android,300.0,2,5,Percussion,winter,3.0,2,1,2,night,0,3
1,blue,7.5,White,8,Apple,NaN,2,5,No preference,spring,0.0,3,6,3,morning,0,1
2,green,7.0,Green,8,Apple,10000.0,1,6,Classical,spring,2.0,15,3,0,morning,0,2
3,blue,7.5,Green,8,Apple,10000.0,1,4,Pop,spring,2.0,5,3,2,morning,0,2
4,blue,7.5,Pink,6,Apple,7000.0,2,13,No preference,fall,1.0,5,3,1,morning,0,1

In [23]:
numerics = list(cleaned_class_df.dtypes[(cleaned_class_df.dtypes == 'int64') 
                                        | (cleaned_class_df.dtypes == 'float64')].index)

In [31]:
cleaned_class_df.loc[:,numerics].corr()

,sleepHours,waterCups,steps,languages,countries,socialMedia,books,siblings,instruments,pets,eatOut
sleepHours,1.000000,-0.085414,0.054442,0.107569,0.239089,-0.162430,-0.054299,-0.058832,-0.008768,0.028350,-0.059562
waterCups,-0.085414,1.000000,0.162138,-0.035364,-0.056466,0.006311,0.073540,0.206523,-0.039350,0.052267,0.179596
steps,0.054442,0.162138,1.000000,-0.179815,0.021768,-0.024477,0.008331,0.310545,-0.059160,-0.109646,-0.009476
languages,0.107569,-0.035364,-0.179815,1.000000,0.403096,-0.047323,-0.166022,0.020271,0.141084,0.097892,-0.044662
countries,0.239089,-0.056466,0.021768,0.403096,1.000000,0.026848,0.001403,-0.167453,0.027176,-0.077721,0.185580
socialMedia,-0.162430,0.006311,-0.024477,-0.047323,0.026848,1.000000,-0.104177,-0.202236,-0.140059,-0.114288,0.038014
books,-0.054299,0.073540,0.008331,-0.166022,0.001403,-0.104177,1.000000,0.005245,-0.093380,0.242373,-0.085521
siblings,-0.058832,0.206523,0.310545,0.020271,-0.167453,-0.202236,0.005245,1.000000,0.083756,0.019827,-0.152346
instruments,-0.008768,-0.039350,-0.059160,0.141084,0.027176,-0.140059,-0.093380,0.083756,1.000000,0.028495,-0.058466
pets,0.028350,0.052267,-0.109646,0.097892,-0.077721,-0.114288,0.242373,0.019827,0.028495,1.000000,-0.063941
eatOut,-0.059562,0.179596,-0.009476,-0.044662,0.185580,0.038014,-0.085521,-0.152346,-0.058466,-0.063941,1.000000